**/*.asm
**/*.elf
**/*.ihx
**/*.cdb
**/*.lk
**/*.map
**/*.adb
**/*.lst
**/*.rel
**/*.rst
**/*.sym

Debug

**/Result.log

**/*.launch
src/Makefile_windows_elf
src/Makefile_windows
src/compile_elf.bat
src/compile_and_flash.bat
src/compile.bat
src/buildboth.cmd
common/STM8S_StdPeriph_Lib/src/stm8s_wwdg.c
common/STM8S_StdPeriph_Lib/src/stm8s_uart4.c
common/STM8S_StdPeriph_Lib/src/stm8s_uart3.c
common/STM8S_StdPeriph_Lib/src/stm8s_uart2.c
common/STM8S_StdPeriph_Lib/src/stm8s_uart1.c
common/STM8S_StdPeriph_Lib/src/stm8s_tim6.c
common/STM8S_StdPeriph_Lib/src/stm8s_tim5.c
common/STM8S_StdPeriph_Lib/src/stm8s_tim4.c
common/STM8S_StdPeriph_Lib/src/stm8s_tim3.c
common/STM8S_StdPeriph_Lib/src/stm8s_tim2.c
src/Makefile_windows
src/compile_and_flash.bat
src/compile.bat
common/STM8S_StdPeriph_Lib/src/stm8s_tim1.c
common/STM8S_StdPeriph_Lib/src/stm8s_spi.c
common/STM8S_StdPeriph_Lib/src/stm8s_rst.c
common/STM8S_StdPeriph_Lib/src/stm8s_iwdg.c
common/STM8S_StdPeriph_Lib/src/stm8s_itc.c
common/STM8S_StdPeriph_Lib/src/stm8s_it.c
common/STM8S_StdPeriph_Lib/src/stm8s_i2c.c
common/STM8S_StdPeriph_Lib/src/stm8s_gpio.c
common/STM8S_StdPeriph_Lib/src/stm8s_flash.c
common/STM8S_StdPeriph_Lib/src/stm8s_exti.c
common/STM8S_StdPeriph_Lib/src/stm8s_clk.c
common/STM8S_StdPeriph_Lib/src/stm8s_can.c
common/STM8S_StdPeriph_Lib/src/stm8s_beep.c
common/STM8S_StdPeriph_Lib/src/stm8s_awu.c
common/STM8S_StdPeriph_Lib/src/stm8s_adc2.c
common/STM8S_StdPeriph_Lib/src/stm8s_adc1.c
common/STM8S_StdPeriph_Lib/README.md
common/STM8S_StdPeriph_Lib/inc/stm8s_wwdg.h
common/STM8S_StdPeriph_Lib/inc/stm8s_uart4.h
common/STM8S_StdPeriph_Lib/inc/stm8s_uart3.h
common/STM8S_StdPeriph_Lib/inc/stm8s_uart2.h
common/STM8S_StdPeriph_Lib/inc/stm8s_uart1.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim6.h
common/STM8S_StdPeriph_Lib/inc/stm8s.h
common/STM8S_StdPeriph_Lib/inc/stm8s_adc1.h
common/STM8S_StdPeriph_Lib/inc/stm8s_adc2.h
common/STM8S_StdPeriph_Lib/inc/stm8s_awu.h
common/STM8S_StdPeriph_Lib/inc/stm8s_beep.h
common/STM8S_StdPeriph_Lib/inc/stm8s_can.h
common/STM8S_StdPeriph_Lib/inc/stm8s_clk.h
common/STM8S_StdPeriph_Lib/inc/stm8s_conf.h
common/STM8S_StdPeriph_Lib/inc/stm8s_exti.h
common/STM8S_StdPeriph_Lib/inc/stm8s_flash.h
common/STM8S_StdPeriph_Lib/inc/stm8s_gpio.h
common/STM8S_StdPeriph_Lib/inc/stm8s_i2c.h
common/STM8S_StdPeriph_Lib/inc/stm8s_it.h
common/STM8S_StdPeriph_Lib/inc/stm8s_itc.h
common/STM8S_StdPeriph_Lib/inc/stm8s_iwdg.h
common/STM8S_StdPeriph_Lib/inc/stm8s_rst.h
common/STM8S_StdPeriph_Lib/inc/stm8s_spi.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim1.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim2.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim3.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim4.h
common/STM8S_StdPeriph_Lib/inc/stm8s_tim5.h
src/compile.bat
*.bat
